<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&amp;family=Pacifico&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css?t=1669763304031}">
    <link rel="stylesheet" th:href="@{/css/forms.css?t=1669763303753}">
    <link rel="icon" type="image/png" sizes="16x16" href="./../../images/favicon-16x16.png">
    <title>Tu Callao - Picardía Sabor y Sazón | Tu Callao</title>
</head>
<body class="page-single">
<div id="container">
    <!-- HEADER -->
    <div th:replace="~{fragments/header::header}">...</div>
    <!-- HEADER -->
    <div class="banner-top"><img src="../../images/banner-internas.jpg" alt="Chucuito"></div>
    <main>
        <h1>Atractivos Turísticos</h1>
        <p>El Primer Puerto del Perú reúne magia, gastronomía, historia, playas y tradición que se disfrutan todo el año. Si te encuentras en la capital peruana y buscas un lugar para escapar de la ciudad y rodearte de un clima de paz, el Callao es la mejor opción.</p>
        <p>Este balneario chalaco es la puerta de entrada para un mundo de experiencias de todo tipo; conoce más sobre la historia republicana de la ciudad a través de sus museos y fortalezas, disfruta de un tranquilo paseo y descansa en la orilla de sus playas o pasa una tarde cultural visitando sus galerías y exposiciones en el barrio de Callao Monumental.</p>
        <h2>Principales destinos:</h2>

        <div class="cnt-eventos"><a class="evento" href="fortaleza-real-felipe.jsp">
            <figure><img src="../images/real-felipe/torre.jpg" alt="Fortaleza del Real Felipe"></figure>
            <h2>Fortaleza del Real Felipe</h2>
            <p>La Fortaleza del Real Felipe es una edificación militar construida en el siglo XVIII en la bahía del Callao, durante los gobiernos de los virreyes José Antonio Manso de Velasco y Manuel de Amat y Junyent, para defender el puerto contra los ataques de piratas y corsarios... <strong>[seguir leyendo]</strong></p></a><a class="evento" href="museo-naval-peru.jsp">
            <figure><img src="../images/museo-naval/museo-naval.jpg" alt="Museo Naval del Perú"></figure>
            <h2>Museo Naval del Perú</h2>
            <p>El 8 de octubre de 1957 se realizó en el Centro Naval del Perú, presidido entonces por el Contralmirante Guillermo Tirado Lamb, una exposición de objetos navales y recuerdos de la Marina dispuesta por el Ministro de Marina Contralmirante Emilio Barrón, éste fue efectivo preámbulo a los sucesos del año 1958...<strong>[seguir leyendo]</strong></p></a><a class="evento" href="zona-monumental-callao.html">
            <figure><img src="../images/monumental/monumental.jpg" alt="Zona Monumental del Callao"></figure>
            <h2>Zona Monumental del Callao</h2>
            <p>La Zona Monumental del Callao es el casco histórico en el distrito del Callao, en el Provincia Constitucional del Callao...<strong>[seguir leyendo]</strong></p></a><a class="evento" href="huaca-el-paraiso.html">
            <figure><img src="../images/huaca-paraiso/huaca-paraiso.jpg" alt="Huaca el Paraíso"></figure>
            <h2>Huaca el Paraíso</h2>
            <p>El Paraíso es el nombre moderno de un complejo arqueológico monumental del Periodo Arcaico Tardío (3500-1800 a. C.)...<strong>[seguir leyendo]</strong></p></a><a class="evento" href="museo-submarino-abtao.html">
            <figure><img src="../images/submarino-abtao/submarino-abtao.jpg" alt="Museo de Sitio Naval Submarino Abtao"></figure>
            <h2>Museo de Sitio Naval Submarino Abtao</h2>
            <El>Submarino anclado tipo Sierra que se construyó en la década de 1950 y ahora funciona como museo...<strong>[seguir leyendo]</strong></El></a><a class="evento" href="humedales-de-ventanilla.html">
            <figure><img src="../images/humedales-ventanilla/humedales-de-ventanilla.jpg" alt="Humedales de Ventanilla"></figure>
            <h2>Humedales de Ventanilla</h2>
            <El>El Área de Conservación Regional (ACR) “Humedales de Ventanilla” es alimentada por el sistema hídrico del Río Chillón, por las aguas superficiales de las pozas de oxidación de Sedapal y por las filtraciones de agua de los asentamientos humanos y otras poblaciones aledañas al humedal...<strong>[seguir leyendo]</strong></El></a><a class="evento" href="plaza-matriz.html">
            <figure><img src="../images/plaza-matriz/plaza-matriz.jpg" alt="Plaza Matriz del Callao"></figure>
            <h2>Plaza Matriz del Callao</h2>
            <El>Considerado patrimonio cultural de la nación, el Centro Historico del Callao fue testigo de importantes hechos históricos...<strong>[seguir leyendo]</strong></El></a><a class="evento" href="isla-el-fronton.html">
            <figure><img src="../images/isla-fronton/isla-fronton.jpg" alt="Isla El Frontón"></figure>
            <h2>Isla El Frontón</h2>
            <El>El Frontón es una pequeña isla ubicada en el Océano Pacífico, cerca de la costa de la ciudad de El Callao, en el Perú. Se le conoce también como Isla Callao...<strong>[seguir leyendo]</strong></El></a><a class="evento" href="islas-cavinzas.html">
            <figure><img src="../images/isla-cavinzas/isla-cavinzas.jpg" alt="Islas Cavinzas"></figure>
            <h2>Isla Cavinzas</h2>
            <El>Islas Cavinzas son un conjunto de islotes ubicados en el mar del Callao, al noroeste de islas Palomino...<strong>[seguir leyendo]</strong></El></a><a class="evento" href="balneario-chucuito.html">
            <figure><img src="../images/chucuito/balneario-chucuito.jpg" alt="Balneario de Chucuito"></figure>
            <h2>Balneario de Chucuito</h2>
            <El>Chucuito: Se trata de otro sitio histórico; allí se estableció el caserío de Piti Piti, que era habitado en tiempos antiguos por los Collas. Años más tarde, se convirtió en un pueblo de inmigrantes italianos y españoles...<strong>[seguir leyendo]</strong></El></a></div>
    </main>
    <!-- FOOTER -->
    <div th:replace="~{fragments/footer::footer}">...</div>
    <!-- FOOTER -->
</div>
</body>
</html>