<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&amp;family=Pacifico&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css?t=1669763304031}">
    <link rel="stylesheet" th:href="@{/css/forms.css?t=1669763303753}">
    <link rel="icon" type="image/png" sizes="16x16" href="./../../images/favicon-16x16.png">
    <title>Tu Callao - Picardía Sabor y Sazón | Tu Callao</title>
</head>
<body class="page-single">
<div id="container">
    <!-- HEADER -->
    <div th:replace="~{fragments/header::header}">...</div>
    <!-- HEADER -->
    <div class="banner-top"><img src="../../images/banner-internas.jpg" alt="Chucuito"></div>
    <main>
        <h1>Gastronomía</h1>
        <div id="compartir"><a class="fb" href="" target="_blank"><i class="fa-brands fa-facebook"></i></a><a class="tw" href="" target="_blank"><i class="fa-brands fa-twitter"></i></a><a class="wa" href="" target="_blank"><i class="fa-brands fa-whatsapp"></i></a><a class="in" href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <p><strong>Algunos de los platos que se sirven en los restaurantes del primer puerto son:</strong></p>
        <h2>Ceviche</h2>
        <p>Su origen inicia en Perú desde tiempos prehispánicos, donde los pescadores comían el pescado con un poco de ají mientras navegaban. Es un plato de pescado o marisco crudo cortado en trozos pequeños y puestos a marinar en un preparado de adobo de jugo de limón, cebolla picada, sal, pimienta y culantro.</p>
        <h3>Restaurantes recomendados:</h3>
        <ul>
            <li>La Caleta de La Punta (Malecón Pardo 180 Pasaje 1, Callao Callao 05 Perú)</li>
            <li>Donde Yolo Restaurante (Pasaje Dos de Mayo 250 Malecón Pardo, La Punta, Callao 07026 Perú)</li>
            <li>Cabos Restaurante del Puerto (Av. Jorge Chavez 120, Callao Perú)</li>
            <li>Paprika Restaurant (Avenida Elmer Faucet S/N Aeropuerto Internacional Jorge Chavez, Callao Perú)</li>
            <li>El Mirador (Cabos Restaurante del Puerto)</li>
        </ul>
        <figure><img src="../images/gastronomia/ceviche.jpg" alt="Ceviche">
            <figcaption>Ceviche</figcaption>
        </figure>
        <h2>Parihuela Chalaca</h2>
        <p>Muchos años atrás, el grandioso puerto del Callao fue el principal de América. Por aquellos años en los que se comercializaba y se cargaba la mecadería en tabladillos llamados “parihuelas”, sucedía que al malograrse estos y quedar inservibles, eran tirados alr mar (costumbre de aquellos años y que aún persiste).</p>
        <p>En las riberas de nuestro mar chalaco, había asentamientos humanos poblados generalmente por familias de pescadores que aprovechaban esta madera varada por el mar para hacer una deliciosa sopa con mariscos, pescados, ajíes y todo lo que buenamente la pudiera enriquecer. Cada vez que iban a prepararse una sopa grande de ese tipo, no había mejor manera que ir a buscar estas parihuelas a orillas del mar.</p>
        <p>La frase que usaban era “compadre, vamos por unas parihuelas para un delicioso convite”. Con el tiempo, fue cambiando a “vamos por una parihuela” o “vamos por un parihuelón”, hasta llegar a ”vamos a preparar una parihuela”.</p>
        <p>Esa es la historia del nombre de este delicioso plato peruano, cuya preparación ya era conocida desde la época prehispánica.</p>
        <h3>Restaurantes recomendados:</h3>
        <ul>
            <li>La Caleta de La Punta (Malecón Pardo 180 Pasaje 1, Callao Callao 05 Perú)</li>
            <li>Donde Yolo Restaurante (Pasaje Dos de Mayo 250 Malecón Pardo, La Punta, Callao 07026 Perú)</li>
        </ul>
        <figure><img src="../images/gastronomia/parihuela.jpg" alt="Parihuela Chalaca">
            <figcaption>Parihuela Chalaca</figcaption>
        </figure>
        <h2>Choros a la chalaca</h2>
        <p>Es la denominación de un plato de la gastronomía del Perú elaborado con choros cocidos, cebolla y tomate picados, granos de maíz hervido, culantro y jugo de limón. Es uno de los platillos típicos del Callao.</p>
        <p>La preparación se realiza en la propia valva de los choros cocidos, los cuales posteriormente se maceran en el jugo de limón y se le añade una salsa criolla denominada “chalaca” o “chalaquita”, con los demás ingredientes.</p>
        <p>Se suele comer a modo de piqueo o entrante previo a otros platos marinos, como el ceviche o la jalea. Desde tiempos remotos, los habitantes de la costa o chala se alimentaron de pescados y mariscos, como lo evidencian los basurales prehistóricos con restos de diversas conchas.</p>
        <h3>Restaurantes recomendados:</h3>
        <ul>
            <li>Cabos Restaurante del Puerto (Av. Jorge Chavez 120, Callao Perú)</li>
            <li>Paprika Restaurant (Avenida Elmer Faucet S/N Aeropuerto Internacional Jorge Chavez, Callao Perú)</li>
            <li>El Mirador (Cabos Restaurante del Puerto)</li>
        </ul>
        <figure><img src="../images/gastronomia/choros-a-la-chalaca.jpg" alt="Choros a la chalaca">
            <figcaption>Choros a la chalaca</figcaption>
        </figure>
        <h2>Pan con pejerrey</h2>
        <p>El pejerrey es un pequeño pez plateado de unos 12 cm de largo, que se encuentra en abundancia en las costas peruanas del Callao. Eso lo convierte en un ingrediente barato y muy nutritivo que se puede preparar de mil formas deliciosas, como ceviches, tiraditos y sándwiches.</p>
        <p>Este plato es muy fácil de preparar: se colocan pejerreyes arrebozados y fritos dentro de panes redondos de corteza crocante, con lechuga y, por supuesto, salsa criolla, mayonesa y salsa de ají amarillo al costado.</p>
        <h3>Restaurantes recomendados:</h3>
        <ul>
            <li>La Caleta de La Punta (Malecón Pardo 180 Pasaje 1, Callao Callao 05 Perú)</li>
            <li>Paprika Restaurant (Avenida Elmer Faucet S/N Aeropuerto Internacional Jorge Chavez, Callao Perú)</li>
            <li>El Mirador (Cabos Restaurante del Puerto)</li>
        </ul>
        <figure><img src="../images/gastronomia/pan-con-pejerrey.jpg" alt="Pan con Pejerrey">
            <figcaption>Pan con Pejerrey</figcaption>
        </figure>
        <p>Fuente:
            <cite>https://www.gob.pe/15313-turismo-en-el-callao-gastronomia-en-el-callao</cite>
        </p>
    </main>
    <!-- FOOTER -->
    <div th:replace="~{fragments/footer::footer}">...</div>
    <!-- FOOTER -->
</div>
</body>
</html>