<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&amp;family=Pacifico&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css?t=1669763304031}">
    <link rel="stylesheet" th:href="@{/css/forms.css?t=1669763303753}">
    <link rel="icon" type="image/png" sizes="16x16" href="./../../images/favicon-16x16.png">
    <title>Tu Callao - Picardía Sabor y Sazón | Tu Callao</title>
</head>
<body class="page-single">
<div id="container">
    <!-- HEADER -->
    <div th:replace="~{fragments/header::header}">...</div>
    <!-- HEADER -->
    <div class="banner-top"><img src="../../images/banner-internas.jpg" alt="Chucuito"></div>
    <main>
        <h1>Plaza Matriz del Callao</h1>
        <jsp:include page="MODULES/compartir.jsp" />
        <p><strong>Considerado patrimonio cultural de la nación, el Centro Historico del Callao fue testigo de importantes hechos históricos.</strong></p>
        <p>La Plaza Matriz surgió en las primeras décadas del siglo XIX asociada a la edificación en 1833 de la primera iglesia matriz construida en el Callao con los fondos levantados por los comerciantes y pobladores del puerto, bajo el liderazgo de los negociantes italiano Antonio Dagnino y Félix Valega, y estaba flanqueada por los jirones Gálvez, Miller e Independencia</p>
        <figure><img src="../images/plaza-matriz/plaza-matriz.jpg" alt="Plaza Matriz del Callao">
            <figcaption>Plaza Matriz del Callao</figcaption>
        </figure>
        <p>Esta constituyó originalmente una antesala de respeto o atrio para la iglesia, muy pronto devenida en plaza, centro de la actividad diaria de la ciudad y muchas celebraciones. Con el tiempo la pequeña plaza original avanzó sobre el área baldía que surgió tras la demolición de un bloque de inmuebles para facilitar la comunicación entre el jirón Constitución (antigua Calle Derecha o Recta y luego Calle Real del Comercio, uno de los más antiguos y tradicionales jirones del puerto tras su nueva urbanización post sismo de 1746) y la actual avenida Manco Cápac, que constituía la rivera marítima y donde se ubicaba la estación del ferrocarril.</p>
        <p>De ese modo fue tomando forma la plaza actual. Es una plaza republicana de estilo neoclásico con 3,304 m2 de extensión. En su sección mas antigua fue una plaza seca (no ajardinada) en toda su extensión. En la actualidad, la sección entre Constitución y Manco Cápac se encuentra ajardinada. A inicios del siglo en esta parte de la plaza se erigió un monumento a José de San Martín, que luego se trasladó a otra área de la ciudad. La ornamentación se completaba con bancas de madera y faroles.</p>
        <p>Fuente:
            <cite>https://www.monumentalcallao.com/turismo</cite>
        </p>
        <div class="comments-form">
            <h3>Déjanos tu comentario:</h3>
            <form action="" name="comments">
                <div class="col1">
                    <div class="row-form row-inputs">
                        <div class="tit">¿Qué impresión te dejó?</div>
                        <label>
                            <input type="radio" name="caritas" value="in-love" checked><img src="../images/in-love.png" alt="Feliz">
                        </label>
                        <label>
                            <input type="radio" name="caritas" value="neutral"><img src="../images/neutral.png" alt="Neutral">
                        </label>
                        <label>
                            <input type="radio" name="caritas" value="sad"><img src="../images/sad.png" alt="Triste">
                        </label>
                        <label>
                            <input type="radio" name="caritas" value="angry"><img src="../images/angry.png" alt="molesto">
                        </label>
                        <label>
                            <input type="radio" name="caritas" value="llanto"><img src="../images/llanto.png" alt="molesto">
                        </label>
                    </div>
                    <div class="row-form">
                        <textarea name="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="col2">
                    <div class="row-form">
                        <input type="text" name="titulo" placeholder="Titulo del comentario">
                    </div>
                    <div class="row-form">
                        <input type="text" name="nombre" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="row-form">
                        <input type="text" name="email" placeholder="Ingresa tu email">
                    </div>
                    <div class="row-form">
                        <input type="submit" value="Enviar Comentario">
                    </div>
                </div>
            </form>
        </div>
        <div class="comments-comment">
            <div class="comments-items-title">Comentarios:</div>
            <div class="comment-items-content">
                <div class="item">
                    <div class="comment-title">Un lugar hermoso<img src="../images/in-love.png" alt="Feliz"></div>
                    <div class="comment-message">Es un lugar hermoso y acogedor, sus casitas de color y su rica comida son los más destacable de este bello y rico puerto chalaco, y que decir de su gente, es muy calida y cariñosa, recomiendo totalmente este lugar para pasar un fin de semana en familia.</div>
                    <div class="comment-contact">
                        <div class="comment-name">Maria</div>
                        <div class="comment-email">mariamer@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- FOOTER -->
    <div th:replace="~{fragments/footer::footer}">...</div>
    <!-- FOOTER -->
</div>
</body>
</html>