<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&amp;family=Pacifico&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css?t=1669763304031}">
    <link rel="stylesheet" th:href="@{/css/forms.css?t=1669763303753}">
    <link rel="icon" type="image/png" sizes="16x16" href="./../../images/favicon-16x16.png">
    <title>Tu Callao - Picardía Sabor y Sazón | Tu Callao</title>
</head>
<body class="page-single">
<div id="container">
    <!-- HEADER -->
    <div th:replace="~{fragments/header::header}">...</div>
    <!-- HEADER -->
    <div class="banner-top"><img src="../../images/banner-internas.jpg" alt="Chucuito"></div>
    <main>
        <h1>Quiénes Somos</h1>
        <div id="compartir"><a class="fb" href="" target="_blank"><i class="fa-brands fa-facebook"></i></a><a class="tw" href="" target="_blank"><i class="fa-brands fa-twitter"></i></a><a class="wa" href="" target="_blank"><i class="fa-brands fa-whatsapp"></i></a><a class="in" href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <figure class="img-right"><img src="../images/quienes-somos.jpg" alt="quienes Somos"></figure>
        <p>Somos una empresa promotora del turismo en el <strong>Callao</strong>, con más de 8 años en la industria de Turismo. Diseñamos y operamos programas turísticos para viajeros individuales, agencias de viajes y corporaciones de todo el mundo.</p>
        <h2>Visión</h2>
        <p>Nuestra meta es alcanzar la máxima eficiencia en el desarrollo de nuestras actividades turísticas en beneficio de nuestros usuarios.</p>
        <h2>Misión</h2>
        <p>Brindar asesoría en la organización de viajes y tener una operación turística eficiente que nos permita cumplir plenamente con las expectativas de nuestros clientes con relación a su viaje al Perú.</p>
        <h2>Valores Organizacionales</h2>
        <h3>Eficiencia</h3>
        <p>Respondemos con prontitud y seguimos al detalle el programa las consultas de nuestros usuarios.</p>
        <h3>Honestidad</h3>
        <p>Velamos por la equidad entre la calidad del servicio de nuestros programas para beneficio de nuestros usuarios.</p>
        <h3>Compromiso</h3>
        <p>Enfocamos nuestros esfuerzos hacia la satisfacción de nuestros usuarios.</p>
        <h3>¡Venga a visitar el Callao!</h3>
        <p>TuCallao.pe lo invita a visitar el Callao. Este hermoso balneario nos da a conocer su rica historia y es uno de los referentes turísticos por sus hermosos monumentos, bellas islas, museos fabulosos, casonas coloniales, calles pitorescas y bellas playas.</p>        
    </main>
    <!-- FOOTER -->
    <div th:replace="~{fragments/footer::footer}">...</div>
    <!-- FOOTER -->
</div>
</body>
</html>