</div>

<footer id="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container wrap">
        <div class="col-1">
            <h4>Encuéntranos en</h4>
            <ul>
                <li><a href="https://www.facebook.com/cibertecoficial/"><i class="fa-brands fa-facebook"></i>&nbsp; Facebook</a></li>
                <li><a href="https://twitter.com/CiberTweets"><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a></li>
                <li><a href="https://www.instagram.com/cibertecoficial/"><i class="fa-brands fa-instagram"></i>&nbsp; Instagram</a></li>
                <li><a href="https://www.youtube.com/user/UPCIBERTEC"><i class="fa-brands fa-youtube"></i>&nbsp; Youtube</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h4>Top Sitios</h4>
            <ul>
                <li><a href="fortaleza-real-felipe.jsp">Real Felipe</a></li>
                <li><a href="museo-naval-peru.jsp">Museo Naval del Perú</a></li>
                <li><a href="plaza-matriz.jsp">Plaza Matriz del Callao</a></li>
                <li><a href="zona-monumental-callao.jsp">Zona Monumental del Callao</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h4>Contacto</h4>
            <ul>
                <li>Av. Oscar Benavides (Ex. Av.Colonial) 288 - Callao</li>
                <li>Teléf: +511 4202206</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="copy">Copyright © TuCallao.pe - Todos los derechos reservados</p>
    </div>



    <script th:src="@{~/js/scripts-min.js?t=1669763303796}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
    <script th:src="@{~/js/app.js?t=1669763303796}" xmlns:th="http://www.w3.org/1999/xhtml"></script>

</footer>
